
experimental_notebooks/

__pycache__/

data/.ipynb_checkpoints/temp2-checkpoint.csv

data/2015_Street_Tree_Census_-_Tree_Data.csv

data/building.csv

data/data.csv

data/data.json

data/Hyperlocal_Temperature_Monitoring.csv

data/n1000.h5

data/n1000cov.h5

data/OpenData_ParksProperties.csv

data/temp_1.csv

data/temp2.csv

data/temp3.csv

misc/max_model-202112061833-1-stdout.txt

misc/max_model-202112061833-1.csv

misc/max_model-202112061833-diagnostic-1.csv

.DS_Store
